/* body{
    background-color: blue;
} */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   

 }
 body{
    font-family: "Inter",sans-serif;
    font-optical-sizing: auto;
 }
 /*  Navbar */
 .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 8%;
    max-width: 1600px;
    margin: 0 auto;
 } 
.menu{
    display: flex;
    list-style: none;
    gap: 45px;

}
.menu li a{
    text-decoration: none;
    color: #181818;
    font-weight: 500;
    font-size: 16px;
    transition: all 0.3s ease;
}
.menu li a:hover {
    color: #30B868;
}

 